<!DOCTYPE html>
<body>


<!-- 
<ul>
<% posts.forEach(function(post) { %>
			<li>
				<h4><%= post.name %> is headed to <%= post.city %></h4>
			</li>
	<li><%= post.name %> is headed to 
		<%= post.city %> <br>
	Year and semester co-oping: 
	<%= post.year  post.semester %> <br>
	They will be working at: 
	<%= post.company %> <br>
	Interest in roommate: 
	<%= post.roommate %> <br>
	Email address: 
	<%= post.email %></li>
	<% }) %>
</ul>	 -->
</body>
</html>

